<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="board">


 <!-- 페이지 전체 건수 조회 -->
 <select id="getCount" parameterType="board" resultType="int">
 	SELECT COUNT(*)
 	FROM	BOARD 
	WHERE 	BOARD_TYPE=#{boardType}
	<if test="searchKeyword != null and searchKeyword != ''">
		 AND ${searchCondition} like '%' || #{searchKeyword} || '%'
		</if>
	<choose>
		<when test="sortCol != null and sortCol != ''">
			ORDER BY ${sortCol}	
		</when>
		<otherwise>
			ORDER BY BOARD_NUMBER DESC
		</otherwise>
	</choose>
 </select>
 

	<!-- 전체게시판조회 -->
	<select id="getBoardList" resultType="board">
	select b.* from(select a.*, rownum rn from(
	SELECT 	BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, U_ID, BOARD_TYPE, BOARD_HITS, POST_DATE, UPLOADFILENAME,
	(SELECT COUNT(*) FROM BOARDCHECK WHERE BOARDCHECK.BOARD_NUMBER=board.board_Number) as BOARD_LIKE
	FROM	BOARD 
	WHERE 	BOARD_TYPE= #{boardType}
			<if test="searchKeyword != null and searchKeyword != ''">
		 AND ${searchCondition} like '%' || #{searchKeyword} || '%'
		</if>
	<choose>
		<when test="sortCol != null and sortCol != ''">
			ORDER BY ${sortCol}	
		</when>
		<otherwise>
			ORDER BY BOARD_NUMBER DESC
		</otherwise>
	</choose>
  )a ) b where rn between #{first} and #{last}

</select>



<!-- 단일게시판조회 -->
<select id="getBoard" parameterType="board" resultType="board">
	SELECT 	BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, U_ID, BOARD_TYPE, BOARD_HITS, POST_DATE, UPLOADFILENAME,
	(SELECT COUNT(*) FROM BOARDCHECK WHERE BOARDCHECK.BOARD_NUMBER=board.board_Number) as BOARD_LIKE,
	(SELECT COUNT(*) FROM BOARDCHECK WHERE BOARD_NUMBER = #{boardNumber} and U_ID = #{uId}) AS LIKE_CHECK
	FROM	BOARD
	WHERE 	BOARD_NUMBER = #{boardNumber}
	ORDER BY BOARD_NUMBER
</select>



<!-- 게시판 입력 -->
<insert id ="insertBoard" parameterType="board">
 <selectKey keyProperty="boardNumber" resultType="integer" order="BEFORE">
		SELECT nvl(MAX(BOARD_NUMBER),0)+1 FROM BOARD 
	</selectKey>
	INSERT INTO BOARD (	BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, U_ID, BOARD_TYPE
						<if test="uploadFileName != null and uploadFileName != ''">
						,uploadFileName
					</if>
					)
				VALUES(
					#{boardNumber},			<!-- 게시판번호 -->
					#{boardTitle},			<!-- 게시판제목 -->
					#{boardContent},		<!-- 게시판내용 -->
					#{uId},					<!-- 아이디 -->
					#{boardType}			<!-- 게시판타입 -->
					<if test="uploadFileName != null and uploadFileName != ''">
					,#{uploadFileName}
					</if>
				)
</insert>

	<!-- 좋아요 추가 -->
<insert id ="insertLikecheck" parameterType="board">	
	INSERT INTO BOARDCHECK (BOARD_NUMBER, U_ID)
					VALUES(				
					#{boardNumber},
					#{uId}	   
					)
</insert>		

		
		<!-- 좋아요 취소 -->
<delete id ="deleteLikecheck" parameterType="board">
	DELETE FROM BOARDCHECK 	
	 WHERE BOARD_NUMBER = #{boardNumber} and U_ID = #{uId}
					
</delete>
		
								
<!-- 게시판 수정 -->
<update id ="updateBoard" parameterType="board">
	UPDATE BOARD SET 
					U_ID=#{uId},
					BOARD_TITLE=#{boardTitle},
					BOARD_CONTENT=#{boardContent},
					UPLOADFILENAME=#{uploadFileName}
					WHERE BOARD_NUMBER=#{boardNumber}
</update>


<!-- 조회수 추가 -->
<update id ="updateBoardHits" parameterType="board">
	UPDATE BOARD SET 
					
					BOARD_HITS=BOARD_HITS+1	   
					WHERE BOARD_NUMBER=#{boardNumber}
</update>





<!-- 게시판 삭제 -->

<delete id ="deleteBoard" parameterType="board">
	DELETE FROM BOARD WHERE BOARD_NUMBER = #{boardNumber}
					
</delete>



<!-- 게시판리스트(단체) 삭제 -->
<delete id ="deleteBoardList" parameterType="board">
	DELETE BOARD 
	<if test="bnumberList != null and bnumberList.length>0">			<!-- boardVO 안의 bnumberList 사용 -->
	WHERE BOARD_NUMBER in
	<foreach collection="bnumberList" item="item" open="("  close=")" separator=",">
		#{item}
	</foreach>
	</if>
	<if test="bnumberList == null or not bnumberList.length>0">
	WHERE BOARD_NUMBER = -1
	</if>
</delete>


</mapper> 