<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comments">


	<!-- 댓글 전체조회 -->
	<select id="getCommentsList" resultType="comments" parameterType="comments"> 
		SELECT A.* FROM ( SELECT B.*, ROWNUM RN FROM ( 
		SELECT *
		  FROM COMMENTS  
		 WHERE BOARD_NUMBER = #{boardNumber}
		  <if test="commentsSeq != null and commentsSeq != ''">
		  <![CDATA[ 
		  	and COMMENTS_SEQ  > #{commentsSeq}
		  ]]>
		  </if>
		 ORDER BY COMMENTS_SEQ DESC 
		 ) B ) A
		  <![CDATA[ 
		 WHERE RN <= #{pageUnit}
		 ]]>
	</select>
	
	
		<!-- 댓글개별조회 -->
		<select id="getComments" resultType="comments" parameterType="comments"> 
		SELECT *
		  FROM COMMENTS  
		 WHERE COMMENTS_SEQ = #{commentsSeq}
	</select>
	
	
		<!-- 댓글입력 -->
	<insert id="insertComments" parameterType="comments">
		<selectKey keyProperty="commentsSeq" resultType="int" order="BEFORE">
			select nvl(max(comments_Seq),0)+1 from comments
		</selectKey>
		INSERT INTO COMMENTS(
				 COMMENTS_SEQ            
			   ,COMMENTS_NAME         
			   ,COMMENTS_CONTENT    
			   ,BOARD_NUMBER
			   ,BOARD_TYPE
				) 
			VALUES(
				  #{commentsSeq}
				, #{commentsName}
				, #{commentsContent}
				, #{boardNumber}
				, #{boardType}
				
				)
	</insert>
	
	
	<!-- 댓글수정 -->
	<update id="updateComments" parameterType="comments">
		update  COMMENTS SET 
				COMMENTS_NAME = #{commentsName}
			    ,COMMENTS_CONTENT = #{commentsContent} 
	     where  COMMENTS_SEQ = #{commentsSeq}
	</update>
	
	
	<!-- 댓글삭제 -->
	<delete id="deleteComments" parameterType="comments">
		delete COMMENTS 
		 <where> 
		 	<choose>
		 		<when test="boardNumber != null and boardNumber != ''">
		 			BOARD_NUMBER = #{boardNumber}	
		 		</when>
		 		<otherwise>
		 			COMMENTS_SEQ = #{commentsSeq}
		 		</otherwise>
		 	</choose>
		 </where>
	</delete>

</mapper>