<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="match">

	<!-- 경기 전체 보기 -->
	<select id="getMatchList" parameterType="match" resultType="match">
		SELECT	*
		FROM 	INGAME
		ORDER BY	MATCHDATE DESC
	</select>
	
	<select id="getMatch" parameterType="match" resultType="match">
		SELECT	*
		FROM 	INGAME
		WHERE	MATCH_ID = #{matchId}
	</select>
	
<!-- 	<select id="getMatch" parameterType="match" resultType="match">
		SELECT 	*
		FROM	(SELECT	RANK() OVER(ORDER BY WIN DESC, LOSE ASC) rank,	
						TEAM_ID,
						DIRECTOR,
						HEAD_COACH,
						NAME,
						WIN,
						LOSE,
						RATE
				FROM 	TEAM)
		WHERE	TEAM_ID = #{matchId}
	</select>
 -->	
	<insert id="insertMatch" parameterType="match">
	<selectKey keyProperty="matchId" resultType="integer"
			order="BEFORE">
		SELECT 		MAX(MATCH_ID)+1
		FROM 		INGAME			
		</selectKey>
		INSERT INTO	INGAME(	MATCH_ID,
							MATCHDATE,
							MATCHNAME,
							MATCHINFO,
							PLAYTIME,
							BLUETEAMNAME,	REDTEAMNAME,
							BLUERESULT,		REDRESULT,
							BLUEPICK1, 	BLUEPICK2, 	BLUEPICK3, 	BLUEPICK4, 	BLUEPICK5,
							REDPICK1, 	REDPICK2, 	REDPICK3, 	REDPICK4, 	REDPICK5,
							BLUEGAMER1, BLUEGAMER2, BLUEGAMER3, BLUEGAMER4, BLUEGAMER5,
							REDGAMER1, REDGAMER2, REDGAMER3, REDGAMER4, REDGAMER5,
							BLUEBAN1, BLUEBAN2, BLUEBAN3, BLUEBAN4, BLUEBAN5,
							REDBAN1, REDBAN2, REDBAN3, REDBAN4, REDBAN5,
							BLUEPICK1_SPELL1, BLUEPICK1_SPELL2,
							BLUEPICK2_SPELL1, BLUEPICK2_SPELL2,
							BLUEPICK3_SPELL1, BLUEPICK3_SPELL2,
							BLUEPICK4_SPELL1, BLUEPICK4_SPELL2,
							BLUEPICK5_SPELL1, BLUEPICK5_SPELL2,
							REDPICK1_SPELL1, REDPICK1_SPELL2,
							REDPICK2_SPELL1, REDPICK2_SPELL2,
							REDPICK3_SPELL1, REDPICK3_SPELL2,
							REDPICK4_SPELL1, REDPICK4_SPELL2,
							REDPICK5_SPELL1, REDPICK5_SPELL2,
							BLUEPICK1_KILL, BLUEPICK1_DEATH, BLUEPICK1_ASSIST,
							BLUEPICK2_KILL, BLUEPICK2_DEATH, BLUEPICK2_ASSIST,
							BLUEPICK3_KILL, BLUEPICK3_DEATH, BLUEPICK3_ASSIST,
							BLUEPICK4_KILL, BLUEPICK4_DEATH, BLUEPICK4_ASSIST,
							BLUEPICK5_KILL, BLUEPICK5_DEATH, BLUEPICK5_ASSIST,
							REDPICK1_KILL, REDPICK1_DEATH, REDPICK1_ASSIST,
							REDPICK2_KILL, REDPICK2_DEATH, REDPICK2_ASSIST,
							REDPICK3_KILL, REDPICK3_DEATH, REDPICK3_ASSIST,
							REDPICK4_KILL, REDPICK4_DEATH, REDPICK4_ASSIST,
							REDPICK5_KILL, REDPICK5_DEATH, REDPICK5_ASSIST
)		VALUES(		#{matchId},
					sysdate,
					#{matchname},
					#{matchinfo},
					to_char(to_date(#{playtime} ,':mi:ss'),'mi:ss'),
					#{blueteamname},	#{redteamname},
					#{blueresult},		#{redresult},
					#{bluepick1}, 	#{bluepick2}, 	#{bluepick3}, 	#{bluepick4}, 	#{bluepick5},
					#{redpick1}, 	#{redpick2}, 	#{redpick3}, 	#{redpick4}, 	#{redpick5},
					#{bluegamer1},	#{bluegamer2},	#{bluegamer3}, 	#{bluegamer4},	#{bluegamer5},
					#{redgamer1}, 	#{redgamer2}, 	#{redgamer3}, 	#{redgamer4}, 	#{redgamer5},
					#{blueban1}, 	#{blueban2}, #{blueban3}, #{blueban4}, #{blueban5},
					#{redban1}, #{redban2}, #{redban3}, #{redban4}, #{redban5},
					#{bluepick1Spell1}, #{bluepick1Spell2},
					#{bluepick2Spell1}, #{bluepick2Spell2},
					#{bluepick3Spell1}, #{bluepick3Spell2},
					#{bluepick4Spell1}, #{bluepick4Spell2},
					#{bluepick5Spell1}, #{bluepick5Spell2},
					#{redpick1Spell1}, #{redpick1Spell2},
					#{redpick2Spell1}, #{redpick2Spell2},
					#{redpick3Spell1}, #{redpick3Spell2},
					#{redpick4Spell1}, #{redpick4Spell2},
					#{redpick5Spell1}, #{redpick5Spell2},
					#{bluepick1Kill}, #{bluepick1Death}, #{bluepick1Assist},
					#{bluepick2Kill}, #{bluepick2Death}, #{bluepick2Assist},
					#{bluepick3Kill}, #{bluepick3Death}, #{bluepick3Assist},
					#{bluepick4Kill}, #{bluepick4Death}, #{bluepick4Assist},
					#{bluepick5Kill}, #{bluepick5Death}, #{bluepick5Assist},
					#{redpick1Kill}, #{redpick1Death}, #{redpick1Assist},
					#{redpick2Kill}, #{redpick2Death}, #{redpick2Assist},
					#{redpick3Kill}, #{redpick3Death}, #{redpick3Assist},
					#{redpick4Kill}, #{redpick4Death}, #{redpick4Assist},
					#{redpick5Kill}, #{redpick5Death}, #{redpick5Assist}
			)								
	</insert>
	
	<update id="updateMatch" parameterType="match">
		UPDATE	INGAME
		SET		MATCHDATE=#{matchdate},
				MATCHNAME=#{matchname},
				MATCHINFO=#{matchinfo},
				PLAYTIME=to_char(to_date(#{playtime} ,':mi:ss'),'mi:ss'),
				BLUETEAMNAME=#{blueteamname},	REDTEAMNAME=#{redteamname},
				BLUERESULT=#{blueresult},		REDRESULT=#{redresult},
				BLUEPICK1=#{bluepick1}, 	BLUEPICK2=#{bluepick2}, 	BLUEPICK3=#{bluepick3}, 	BLUEPICK4=#{bluepick4}, 	BLUEPICK5=#{bluepick5},
				REDPICK1=#{redpick1}, 	REDPICK2=#{redpick2}, 	REDPICK3=#{redpick3}, 	REDPICK4=#{redpick4}, 	REDPICK5=#{redpick5},
				BLUEGAMER1=#{bluegamer1}, BLUEGAMER2=#{bluegamer2}, BLUEGAMER3=#{bluegamer3}, BLUEGAMER4=#{bluegamer4}, BLUEGAMER5=#{bluegamer5},
				REDGAMER1=#{redgamer1}, REDGAMER2=#{redgamer2}, REDGAMER3=#{redgamer3}, REDGAMER4=#{redgamer4}, REDGAMER5=#{redgamer5},
				BLUEBAN1=#{blueban1}, BLUEBAN2=#{blueban2}, BLUEBAN3=#{blueban3}, BLUEBAN4=#{blueban4}, BLUEBAN5=#{blueban5},
				REDBAN1=#{redban1}, REDBAN2=#{redban2}, REDBAN3=#{redban3}, REDBAN4=#{redban4}, REDBAN5=#{redban5},
				BLUEPICK1_SPELL1=#{bluepick1Spell1}, BLUEPICK1_SPELL2=#{bluepick1Spell2},
				BLUEPICK2_SPELL1=#{bluepick2Spell1}, BLUEPICK2_SPELL2=#{bluepick2Spell2},
				BLUEPICK3_SPELL1=#{bluepick3Spell1}, BLUEPICK3_SPELL2=#{bluepick3Spell2},
				BLUEPICK4_SPELL1=#{bluepick4Spell1}, BLUEPICK4_SPELL2=#{bluepick4Spell2},
				BLUEPICK5_SPELL1=#{bluepick5Spell1}, BLUEPICK5_SPELL2=#{bluepick5Spell2},
				REDPICK1_SPELL1=#{redpick1Spell1}, REDPICK1_SPELL2=#{redpick1Spell2},
				REDPICK2_SPELL1=#{redpick2Spell1}, REDPICK2_SPELL2=#{redpick2Spell2},
				REDPICK3_SPELL1=#{redpick3Spell1}, REDPICK3_SPELL2=#{redpick3Spell2},
				REDPICK4_SPELL1=#{redpick4Spell1}, REDPICK4_SPELL2=#{redpick4Spell2},
				REDPICK5_SPELL1=#{redpick5Spell1}, REDPICK5_SPELL2=#{redpick5Spell2},
				BLUEPICK1_KILL=#{bluepick1Kill}, BLUEPICK1_DEATH=#{bluepick1Death}, BLUEPICK1_ASSIST=#{bluepick1Assist},
				BLUEPICK2_KILL=#{bluepick2Kill}, BLUEPICK2_DEATH=#{bluepick2Death}, BLUEPICK2_ASSIST=#{bluepick2Assist},
				BLUEPICK3_KILL=#{bluepick3Kill}, BLUEPICK3_DEATH=#{bluepick3Death}, BLUEPICK3_ASSIST=#{bluepick3Assist},
				BLUEPICK4_KILL=#{bluepick4Kill}, BLUEPICK4_DEATH=#{bluepick4Death}, BLUEPICK4_ASSIST=#{bluepick4Assist},
				BLUEPICK5_KILL=#{bluepick5Kill}, BLUEPICK5_DEATH=#{bluepick5Death}, BLUEPICK5_ASSIST=#{bluepick5Assist},
				REDPICK1_KILL=#{redpick1Kill}, REDPICK1_DEATH=#{redpick1Death}, REDPICK1_ASSIST=#{redpick1Assist},
				REDPICK2_KILL=#{redpick2Kill}, REDPICK2_DEATH=#{redpick2Death}, REDPICK2_ASSIST=#{redpick2Assist},
				REDPICK3_KILL=#{redpick3Kill}, REDPICK3_DEATH=#{redpick3Death}, REDPICK3_ASSIST=#{redpick3Assist},
				REDPICK4_KILL=#{redpick4Kill}, REDPICK4_DEATH=#{redpick4Death}, REDPICK4_ASSIST=#{redpick4Assist},
				REDPICK5_KILL=#{redpick5Kill}, REDPICK5_DEATH=#{redpick5Death}, REDPICK5_ASSIST=#{redpick5Assist}
		WHERE	MATCH_ID=#{matchId}
	</update>
	
	<delete id="deleteMatch" parameterType="match">
		DELETE	INGAME
		WHERE	MATCH_ID=${matchId}	
	</delete>
</mapper>