<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="match">

	<!-- 페이징 전체 -->
	<select id="getCount" resultType="int">
		SELECT	COUNT(*)
		FROM 	INGAME
		<if test="searchKeyword != null and searchKeyword != ''">
		WHERE 	${searchCondition} LIKE '%'||#{searchKeyword}||'%'
		OR		REDTEAMNAME LIKE '%'||#{searchKeyword}||'%'
		</if>
		ORDER BY	 GAME_ID DESC,	MATCHDATE DESC
	</select>

	<!-- 경기 전체 보기 -->
	<select id="getMatchList" parameterType="match" resultType="match">
		SELECT	*
		FROM	(SELECT	rownum rnum, A.*
				FROM	(SELECT	*
						FROM 	INGAME
						<if test="searchKeyword != null and searchKeyword != ''">
						WHERE 	${searchCondition} LIKE '%'||#{searchKeyword}||'%'
						OR		REDTEAMNAME LIKE '%'||#{searchKeyword}||'%'
						</if>
						ORDER BY	GAME_ID DESC, MATCHDATE DESC) A
				)
		WHERE	rnum BETWEEN #{first} AND #{last}
	</select>
	
	<select id="spellList" parameterType="match" resultType="match">
		SELECT	*
		FROM	SPELLDATA
	</select>
	
	<select id="getMatch" parameterType="match" resultType="match">
		SELECT	GAME_ID,
				GAMESTATUS,
				REDRATE,
				BLUERATE,
				MATCHDATE,
				MATCHNAME,
				MATCHINFO,
				PLAYTIME,
				BLUETEAMNAME,
				REDTEAMNAME,
				BLUERESULT,
				REDRESULT,
				BLUEGAMER1,
				BLUEGAMER2,
				BLUEGAMER3,
				BLUEGAMER4,
				BLUEGAMER5,
				REDGAMER1,
				REDGAMER2,
				REDGAMER3,
				REDGAMER4,
				REDGAMER5,
				BLUEPICK1,
				BLUEPICK2,
				BLUEPICK3,
				BLUEPICK4,
				BLUEPICK5,
				REDPICK1,
				REDPICK2,
				REDPICK3,
				REDPICK4,
				REDPICK5,
				BLUEBAN1,
				BLUEBAN2,
				BLUEBAN3,
				BLUEBAN4,
				BLUEBAN5,
				REDBAN1,
				REDBAN2,
				REDBAN3,
				REDBAN4,
				REDBAN5,
				BLUEPICK1_SPELL1,
				BLUEPICK1_SPELL2,
				BLUEPICK2_SPELL1,
				BLUEPICK2_SPELL2,
				BLUEPICK3_SPELL1,
				BLUEPICK3_SPELL2,
				BLUEPICK4_SPELL1,
				BLUEPICK4_SPELL2,
				BLUEPICK5_SPELL1,
				BLUEPICK5_SPELL2,
				REDPICK1_SPELL1,
				REDPICK1_SPELL2,
				REDPICK2_SPELL1,
				REDPICK2_SPELL2,
				REDPICK3_SPELL1,
				REDPICK3_SPELL2,
				REDPICK4_SPELL1,
				REDPICK4_SPELL2,
				REDPICK5_SPELL1,
				REDPICK5_SPELL2,
				BLUEPICK1_KILL,
				BLUEPICK1_DEATH,
				BLUEPICK1_ASSIST,
				BLUEPICK2_KILL,
				BLUEPICK2_DEATH,
				BLUEPICK2_ASSIST,
				BLUEPICK3_KILL,
				BLUEPICK3_DEATH,
				BLUEPICK3_ASSIST,
				BLUEPICK4_KILL,
				BLUEPICK4_DEATH,
				BLUEPICK4_ASSIST,
				BLUEPICK5_KILL,
				BLUEPICK5_DEATH,
				BLUEPICK5_ASSIST,
				REDPICK1_KILL,
				REDPICK1_DEATH,
				REDPICK1_ASSIST,
				REDPICK2_KILL,
				REDPICK2_DEATH,
				REDPICK2_ASSIST,
				REDPICK3_KILL,
				REDPICK3_DEATH,
				REDPICK3_ASSIST,
				REDPICK4_KILL,
				REDPICK4_DEATH,
				REDPICK4_ASSIST,
				REDPICK5_KILL,
				REDPICK5_DEATH,
				REDPICK5_ASSIST
		FROM 	INGAME
		WHERE	GAME_ID = #{gameId}
	</select>
	
	<select id="preView" parameterType="match" resultType="match">
		SELECT	BLUETEAMNAME blueTeamName,
                REDTEAMNAME redTeamName,
                PLAYERMATCH playerMatch,
                WIN win,
                LOSE lose, 
				100*WIN/(WIN+LOSE) blueRate,
				100*LOSE/(WIN+LOSE) redRate,  
				FUNC_BETRATE(BLUETEAMNAME, REDTEAMNAME) blueDrate,
				FUNC_BETRATE(REDTEAMNAME, BLUETEAMNAME) redDrate
		FROM	(SELECT BLUETEAMNAME,
						REDTEAMNAME,
						COUNT(BLUERESULT) PLAYERMATCH,
		        		SUM(CASE WHEN BLUERESULT = 'win' THEN '1' ELSE '0' END) WIN,
	     		   		COUNT(CASE WHEN BLUERESULT = 'lose' THEN '1' ELSE NULL END) LOSE
	        	FROM	(SELECT MATCHDATE,
	        					MATCHNAME,
		        				MATCHINFO,
		        				PLAYTIME,
		        				BLUETEAMNAME,
		        				REDTEAMNAME,
		        				BLUERESULT,
		        				REDRESULT
		  				FROM	INGAME
						WHERE	BLUETEAMNAME = #{blueTeamName}
		 				 AND 	REDTEAMNAME = #{redTeamName}
		 				UNION ALL
		 				SELECT 	MATCHDATE, 
		 						MATCHNAME, 
		 						MATCHINFO, 
		 						PLAYTIME, 
		 						REDTEAMNAME, 
		 						BLUETEAMNAME, 
		 						REDRESULT, 
		 						BLUERESULT
		  				FROM 	INGAME
		  				WHERE 	REDTEAMNAME = #{blueTeamName}
		   				 AND 	BLUETEAMNAME = #{redTeamName}) A 
		 		GROUP BY 	BLUETEAMNAME, REDTEAMNAME ) B
	
	</select>
	
<!-- 	<select id="getMatch" parameterType="match" resultType="match">
		SELECT 	*
		FROM	(SELECT	RANK() OVER(ORDER BY WIN DESC, LOSE ASC) rank,	
						TEAM_ID,
						DIRECTOR,
						HEAD_COACH,
						NAME,
						WIN,
						LOSE,
						RATE
				FROM 	TEAM)
		WHERE	TEAM_ID = #{gameId}
	</select>
 -->	
	<insert id="insertMatch" parameterType="match">
	<selectKey keyProperty="gameId" resultType="integer"
			order="BEFORE">
		SELECT 		NVL(MAX(GAME_ID),0)+1
		FROM 		INGAME			
	</selectKey>
		INSERT INTO	INGAME(	GAME_ID,
							MATCHDATE,
							MATCHNAME,
							MATCHINFO,
							PLAYTIME,
							BLUETEAMNAME,	REDTEAMNAME,
							BLUERESULT,		REDRESULT,
							BLUEPICK1, 	BLUEPICK2, 	BLUEPICK3, 	BLUEPICK4, 	BLUEPICK5,
							REDPICK1, 	REDPICK2, 	REDPICK3, 	REDPICK4, 	REDPICK5,
							BLUEGAMER1, BLUEGAMER2, BLUEGAMER3, BLUEGAMER4, BLUEGAMER5,
							REDGAMER1, REDGAMER2, REDGAMER3, REDGAMER4, REDGAMER5,
							BLUEBAN1, BLUEBAN2, BLUEBAN3, BLUEBAN4, BLUEBAN5,
							REDBAN1, REDBAN2, REDBAN3, REDBAN4, REDBAN5,
 							BLUEPICK1_SPELL1, BLUEPICK1_SPELL2,
							BLUEPICK2_SPELL1, BLUEPICK2_SPELL2,
							BLUEPICK3_SPELL1, BLUEPICK3_SPELL2,
							BLUEPICK4_SPELL1, BLUEPICK4_SPELL2,
							BLUEPICK5_SPELL1, BLUEPICK5_SPELL2,
							REDPICK1_SPELL1, REDPICK1_SPELL2,
							REDPICK2_SPELL1, REDPICK2_SPELL2,
							REDPICK3_SPELL1, REDPICK3_SPELL2,
							REDPICK4_SPELL1, REDPICK4_SPELL2,
							REDPICK5_SPELL1, REDPICK5_SPELL2,
							BLUEPICK1_KILL, BLUEPICK1_DEATH, BLUEPICK1_ASSIST,
							BLUEPICK2_KILL, BLUEPICK2_DEATH, BLUEPICK2_ASSIST,
							BLUEPICK3_KILL, BLUEPICK3_DEATH, BLUEPICK3_ASSIST,
							BLUEPICK4_KILL, BLUEPICK4_DEATH, BLUEPICK4_ASSIST,
							BLUEPICK5_KILL, BLUEPICK5_DEATH, BLUEPICK5_ASSIST,
							REDPICK1_KILL, REDPICK1_DEATH, REDPICK1_ASSIST,
							REDPICK2_KILL, REDPICK2_DEATH, REDPICK2_ASSIST,
							REDPICK3_KILL, REDPICK3_DEATH, REDPICK3_ASSIST,
							REDPICK4_KILL, REDPICK4_DEATH, REDPICK4_ASSIST,
							REDPICK5_KILL, REDPICK5_DEATH, REDPICK5_ASSIST,
							REDRATE, BLUERATE
)
		VALUES(		#{gameId},
					<choose>
						<when test="matchDate == null or matchDate == ''">
							sysdate,		
						</when>
						<when test="matchDate != null and matchDate != '' ">
							#{matchDate},
						</when>				
					</choose>
					#{matchName},
					#{matchInfo},
					#{playTime},				 
					#{blueTeamName},	#{redTeamName},
					#{blueResult},		#{redResult},
					#{bluePick1}, 	#{bluePick2}, 	#{bluePick3}, 	#{bluePick4}, 	#{bluePick5},
					#{redPick1}, 	#{redPick2}, 	#{redPick3}, 	#{redPick4}, 	#{redPick5},
					#{blueGamer1},	#{blueGamer2},	#{blueGamer3}, 	#{blueGamer4},	#{blueGamer5},
					#{redGamer1}, 	#{redGamer2}, 	#{redGamer3}, 	#{redGamer4}, 	#{redGamer5},
					#{blueBan1}, 	#{blueBan2}, #{blueBan3}, #{blueBan4}, #{blueBan5},
					#{redBan1}, #{redBan2}, #{redBan3}, #{redBan4}, #{redBan5},
					#{bluePick1Spell1}, #{bluePick1Spell2},
					#{bluePick2Spell1}, #{bluePick2Spell2},
					#{bluePick3Spell1}, #{bluePick3Spell2},
					#{bluePick4Spell1}, #{bluePick4Spell2},
					#{bluePick5Spell1}, #{bluePick5Spell2},
					#{redPick1Spell1}, #{redPick1Spell2},
					#{redPick2Spell1}, #{redPick2Spell2},
					#{redPick3Spell1}, #{redPick3Spell2},
					#{redPick4Spell1}, #{redPick4Spell2},
					#{redPick5Spell1}, #{redPick5Spell2},
					#{bluePick1Kill}, #{bluePick1Death}, #{bluePick1Assist},
					#{bluePick2Kill}, #{bluePick2Death}, #{bluePick2Assist},
					#{bluePick3Kill}, #{bluePick3Death}, #{bluePick3Assist},
					#{bluePick4Kill}, #{bluePick4Death}, #{bluePick4Assist},
					#{bluePick5Kill}, #{bluePick5Death}, #{bluePick5Assist},
					#{redPick1Kill}, #{redPick1Death}, #{redPick1Assist},
					#{redPick2Kill}, #{redPick2Death}, #{redPick2Assist},
					#{redPick3Kill}, #{redPick3Death}, #{redPick3Assist},
					#{redPick4Kill}, #{redPick4Death}, #{redPick4Assist},
					#{redPick5Kill}, #{redPick5Death}, #{redPick5Assist},
					TRUNC(FUNC_BETRATE(#{redTeamName},#{blueTeamName}),2), TRUNC(FUNC_BETRATE(#{blueTeamName},#{redTeamName}),2)
			)		
								
	</insert>
	
	<update id="updateMatch" parameterType="match">
		UPDATE	INGAME
		SET		MATCHDATE=#{matchDate},
				GAMESTATUS=#{gameStatus},
				MATCHNAME=#{matchName},
				MATCHINFO=#{matchInfo},
				PLAYTIME=#{playTime},
				BLUETEAMNAME=#{blueTeamName},	REDTEAMNAME=#{redTeamName},
				BLUERESULT=#{blueResult},		REDRESULT=#{redResult},
				BLUEPICK1=#{bluePick1}, 	BLUEPICK2=#{bluePick2}, 	BLUEPICK3=#{bluePick3}, 	BLUEPICK4=#{bluePick4}, 	BLUEPICK5=#{bluePick5},
				REDPICK1=#{redPick1}, 	REDPICK2=#{redPick2}, 	REDPICK3=#{redPick3}, 	REDPICK4=#{redPick4}, 	REDPICK5=#{redPick5},
				BLUEGAMER1=#{blueGamer1}, BLUEGAMER2=#{blueGamer2}, BLUEGAMER3=#{blueGamer3}, BLUEGAMER4=#{blueGamer4}, BLUEGAMER5=#{blueGamer5},
				REDGAMER1=#{redGamer1}, REDGAMER2=#{redGamer2}, REDGAMER3=#{redGamer3}, REDGAMER4=#{redGamer4}, REDGAMER5=#{redGamer5},
				BLUEBAN1=#{blueBan1}, BLUEBAN2=#{blueBan2}, BLUEBAN3=#{blueBan3}, BLUEBAN4=#{blueBan4}, BLUEBAN5=#{blueBan5},
				REDBAN1=#{redBan1}, REDBAN2=#{redBan2}, REDBAN3=#{redBan3}, REDBAN4=#{redBan4}, REDBAN5=#{redBan5},
				BLUEPICK1_SPELL1=#{bluePick1Spell1}, BLUEPICK1_SPELL2=#{bluePick1Spell2},
				BLUEPICK2_SPELL1=#{bluePick2Spell1}, BLUEPICK2_SPELL2=#{bluePick2Spell2},
				BLUEPICK3_SPELL1=#{bluePick3Spell1}, BLUEPICK3_SPELL2=#{bluePick3Spell2},
				BLUEPICK4_SPELL1=#{bluePick4Spell1}, BLUEPICK4_SPELL2=#{bluePick4Spell2},
				BLUEPICK5_SPELL1=#{bluePick5Spell1}, BLUEPICK5_SPELL2=#{bluePick5Spell2},
				REDPICK1_SPELL1=#{redPick1Spell1}, REDPICK1_SPELL2=#{redPick1Spell2},
				REDPICK2_SPELL1=#{redPick2Spell1}, REDPICK2_SPELL2=#{redPick2Spell2},
				REDPICK3_SPELL1=#{redPick3Spell1}, REDPICK3_SPELL2=#{redPick3Spell2},
				REDPICK4_SPELL1=#{redPick4Spell1}, REDPICK4_SPELL2=#{redPick4Spell2},
				REDPICK5_SPELL1=#{redPick5Spell1}, REDPICK5_SPELL2=#{redPick5Spell2},
				BLUEPICK1_KILL=#{bluePick1Kill}, BLUEPICK1_DEATH=#{bluePick1Death}, BLUEPICK1_ASSIST=#{bluePick1Assist},
				BLUEPICK2_KILL=#{bluePick2Kill}, BLUEPICK2_DEATH=#{bluePick2Death}, BLUEPICK2_ASSIST=#{bluePick2Assist},
				BLUEPICK3_KILL=#{bluePick3Kill}, BLUEPICK3_DEATH=#{bluePick3Death}, BLUEPICK3_ASSIST=#{bluePick3Assist},
				BLUEPICK4_KILL=#{bluePick4Kill}, BLUEPICK4_DEATH=#{bluePick4Death}, BLUEPICK4_ASSIST=#{bluePick4Assist},
				BLUEPICK5_KILL=#{bluePick5Kill}, BLUEPICK5_DEATH=#{bluePick5Death}, BLUEPICK5_ASSIST=#{bluePick5Assist},
				REDPICK1_KILL=#{redPick1Kill}, REDPICK1_DEATH=#{redPick1Death}, REDPICK1_ASSIST=#{redPick1Assist},
				REDPICK2_KILL=#{redPick2Kill}, REDPICK2_DEATH=#{redPick2Death}, REDPICK2_ASSIST=#{redPick2Assist},
				REDPICK3_KILL=#{redPick3Kill}, REDPICK3_DEATH=#{redPick3Death}, REDPICK3_ASSIST=#{redPick3Assist},
				REDPICK4_KILL=#{redPick4Kill}, REDPICK4_DEATH=#{redPick4Death}, REDPICK4_ASSIST=#{redPick4Assist},
				REDPICK5_KILL=#{redPick5Kill}, REDPICK5_DEATH=#{redPick5Death}, REDPICK5_ASSIST=#{redPick5Assist}
		WHERE	GAME_ID=#{gameId}
	</update>
	
	<delete id="deleteMatch" parameterType="match">
		DELETE	INGAME
		WHERE	GAME_ID=#{gameId}
	</delete>
	
	<!-- 경기구매 전체경기리스트 -->
	<select id="buyMatchList" resultType="match">
		SELECT GAME_ID,
				MATCHDATE AS GAMEDATE,
				GAMESTATUS,
				REDTEAMNAME,
				REDRATE,
				BLUETEAMNAME,
				BLUERATE
				
				<if test="uId!=null and uId!=''">,
				(SELECT count(*) FROM PURCHASE b WHERE a.GAME_ID = b.GAME_ID AND b.U_ID = #{uId}) AS BUYCHECK</if>
		 FROM INGAME a WHERE a.GAMESTATUS = '전'
		ORDER BY 1 DESC
	</select>
	
	<!-- 관리자경기전체조회 -->
	<select id="getMatchListAd" resultType="match">
		SELECT GAME_ID,
				MATCHDATE AS GAMEDATE,
				GAMESTATUS,
				REDTEAMNAME,
				BLUETEAMNAME,
				REDRESULT,
				BLUERESULT,
				(SELECT COUNT(*) FROM PURCHASE a
	    		WHERE ACCURACY IS NULL AND a.GAME_ID = b.GAME_ID) AS checkResult,
	    		(SELECT COUNT(*) FROM PURCHASE a
	    		WHERE RETURNCHECK = 'Y' AND a.GAME_ID = b.GAME_ID) AS checkReturn
		  FROM  INGAME b
	      ORDER BY 1
	</select>
</mapper>