<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="member">

 <!-- 전체유저조회 -->
<select id="getMemberList" resultType="member">	

	SELECT	 	*
	FROM 		MEMBER
	<!--  WHERE 1=1 -->
	<if test="searchKeyword != null and searchKeyword != ''">
		WHERE ${searchCondition} like '%' || #{searchKeyword} || '%'
	</if> 
<!-- <where>	
	<choose>
		<when test="searchCondition != null and searchCondition == 'title'">
			and title like '%' || #{searchKeyword} || '%'
		</when>
		<when test="searchCondition != null and searchCondition == 'content'">
			and content like '%' || #{searchKeyword} || '%'
		</when>
	</choose>
	
	</where>
	--> 
	<choose>
		<when test="sortCol != null and sortCol != ''">
			ORDER BY ${sortCol}	
		</when>
		<otherwise>
			ORDER BY U_ID DESC
		</otherwise>
	</choose>

</select>

<!-- 단일유저조회 -->
<select id="getMember" parameterType="member" resultType="member">
	SELECT	*
	

	FROM	MEMBER
	WHERE U_ID = #{uId}
</select>



<insert id ="insertMember" parameterType="member">
	<!--  <selectKey keyProperty="uId" resultType="string" order="BEFORE">
		SELECT nvl(MAX(U_ID),0)+1 FROM MEMBER 
	</selectKey>  --> 
	INSERT INTO MEMBER (U_ID, U_PW, U_NAME, U_ADDRESS, U_PHONE, U_BIRTH)
				VALUES(
						#{uId},
						#{uPw},
						#{uName},
						#{uAddress},
						#{uPhone},
						#{uBirth}
						
				)
</insert>

<update id ="updateMember" parameterType="member">
	UPDATE MEMBER SET 
					U_PW=#{uPw},
					U_ADDRESS=#{uAddress},    
					U_PHONE=#{uPhone}					
					WHERE U_ID=#{uId}
</update>

<delete id ="deleteMember" parameterType="member">
	DELETE FROM MEMBER WHERE U_ID=#{uId}
					
</delete>
<delete id ="deleteBoardList" parameterType="board">
	DELETE FROM BOARD 
	<if test="seqList != null and seqList.length>0">
	WHERE SEQ in
	<foreach collection="seqList" item="item" open="("  close=")" separator=",">
		#{item}
	</foreach>
	</if>
	<if test="seqList == null or not seqList.length>0">
	WHERE SEQ = -1
	</if>
</delete>



</mapper> 