<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="player">
	<!-- <resultMap type="player" id="playerResult"></resultMap> -->

	<!-- 선수 전체 보기 -->
	<select id="getPlayerList" resultType="player">
		SELECT	RANK() OVER(ORDER BY WIN DESC) 순위,
				NAME 이름, 
				NICKNAME 소환사명, 
				TEAM_ID 최근소속팀,
				WIN+LOSE M, 
				WIN W, 
				LOSE L, 
				WIN/(WIN+LOSE) WINRATE,
				KILL TK, 
				DEATH TD, 
				ASSIST TA, 
				ROUND((KILL+ASSIST)/DEATH,1) KDA
		FROM 	PLAYER
	</select>



</mapper> 