<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="player">
	<!-- <resultMap type="player" id="playerResult"></resultMap> -->



	<!-- 선수 전체 보기 -->
	<select id="getPlayerList" parameterType="player" resultType="player">
		SELECT  DENSE_RANK() OVER(ORDER BY WIN DESC) playerRank,
		        A.*,
		        WIN+LOSE MATCH,
		        ROUND(WIN/NULLIF((WIN+LOSE),0),3) * 100 winrate
		FROM    (SELECT	NAME, 
						NICKNAME, 
						TEAM_ID,
						NVL(FUNC_PLAYERWIN(NICKNAME),0) WIN,
						NVL(FUNC_PLAYERLOSE(NICKNAME),0) LOSE,
						NVL(FUNC_PLAYERKILL(NICKNAME),0) KILL,
				        NVL(FUNC_PLAYERDEATH(NICKNAME),0) DEATH,
				        NVL(FUNC_PLAYERASSIST(NICKNAME),0) ASSIST,
				        NVL(ROUND(FUNC_PLAYERKDA(NICKNAME),2),0) KDA
				FROM 	PLAYER) A
		<if test="searchKeyword != null and searchKeyword != ''">
		WHERE 	${searchCondition} like '%' || #{searchKeyword} || '%'
		</if>
		
	</select>
	
	<select id="getPlayer"	parameterType="player" resultType="player">
		SELECT	P.TEAM_ID teamId,
				P.PLAYER_ID,
				P.NAME name, 
				T.NAME teamname, 
				P.NICKNAME nickname,
			    NVL(FUNC_PLAYERWIN(NICKNAME),0) WIN,
				NVL(FUNC_PLAYERLOSE(NICKNAME),0) LOSE,
				NVL(FUNC_PLAYERKILL(NICKNAME),0) KILL,
		        NVL(FUNC_PLAYERDEATH(NICKNAME),0) DEATH,
		        NVL(FUNC_PLAYERASSIST(NICKNAME),0) ASSIST,
		        NVL(ROUND(FUNC_PLAYERKDA(NICKNAME),2),0) KDA,
		        LINE
		FROM	PLAYER P
		JOIN	TEAM T
		ON		P.TEAM_ID = T.TEAM_ID
		WHERE	P.NICKNAME = #{nickname}
	</select>
	
	<select id="playerRecordList" parameterType="player" resultType="player">
		 SELECT	DISTINCT *
		FROM	(SELECT	MATCHDATE, 
						MATCHNAME,
						MATCHINFO,             BLUETEAMNAME,
						BLUEGAMER3,
						REDGAMER3,
						GAME_ID,
						BLUERESULT,
						BLUEPICK3_KILL,
						BLUEPICK3_DEATH,
						BLUEPICK3_ASSIST,
						BLUEPICK3,
						BLUEPICK3_SPELL1,
						BLUEPICK3_SPELL2
				FROM	INGAME I
				JOIN	PLAYER P
				ON 		P.TEAM_ID = I.BLUETEAMNAME
				WHERE	BLUEGAMER3 = #{nickname}
				UNION ALL
				SELECT	MATCHDATE,
						MATCHNAME,
						MATCHINFO, BLUETEAMNAME,
						REDGAMER3,
						BLUEGAMER3,
						GAME_ID,
						REDRESULT,
						REDPICK3_KILL,
						REDPICK3_DEATH,
						REDPICK3_ASSIST,
                  		REDPICK3,
                  		REDPICK3_SPELL1,
                  		REDPICK3_SPELL2
				FROM	INGAME I JOIN PLAYER P
				ON		P.TEAM_ID = I.BLUETEAMNAME
				WHERE	REDGAMER3 = #{nickname}
				UNION ALL
				SELECT	MATCHDATE, MATCHNAME, MATCHINFO, BLUETEAMNAME, BLUEGAMER1, REDGAMER1, GAME_ID,  BLUERESULT,
                		BLUEPICK1_KILL, BLUEPICK1_DEATH, BLUEPICK1_ASSIST,
                  		BLUEPICK1, I.BLUEPICK1_SPELL1, I.BLUEPICK1_SPELL2
						FROM INGAME I JOIN PLAYER P
				ON 		P.TEAM_ID = I.BLUETEAMNAME
				WHERE	BLUEGAMER1 = #{nickname}
				UNION ALL
				SELECT	MATCHDATE, MATCHNAME, MATCHINFO, BLUETEAMNAME, REDGAMER1, BLUEGAMER1, GAME_ID,  REDRESULT,
                  		REDPICK1_KILL, REDPICK1_DEATH, REDPICK1_ASSIST,
                  		REDPICK1, I.REDPICK1_SPELL1, I.REDPICK1_SPELL2
				FROM	INGAME I JOIN PLAYER P
				ON		P.TEAM_ID = I.REDTEAMNAME
				WHERE	REDGAMER1 = #{nickname}
				UNION ALL
				SELECT	MATCHDATE, MATCHNAME, MATCHINFO, BLUETEAMNAME, BLUEGAMER2, REDGAMER2, GAME_ID,  BLUERESULT,
                  		BLUEPICK2_KILL, BLUEPICK2_DEATH, BLUEPICK2_ASSIST,
                  		BLUEPICK2, I.BLUEPICK2_SPELL1, I.BLUEPICK2_SPELL2
				FROM	INGAME I JOIN PLAYER P
				ON 		P.TEAM_ID = I.BLUETEAMNAME
				WHERE 	BLUEGAMER2 = #{nickname}
				UNION ALL
				SELECT 	MATCHDATE, MATCHNAME, MATCHINFO, BLUETEAMNAME, REDGAMER2, BLUEGAMER2, GAME_ID,  REDRESULT,
                  		REDPICK2_KILL, REDPICK2_DEATH, REDPICK2_ASSIST,
                  		REDPICK2, I.REDPICK2_SPELL1, I.REDPICK2_SPELL2
				FROM 	INGAME I JOIN PLAYER P
				ON 		P.TEAM_ID = I.REDTEAMNAME
				WHERE 	REDGAMER2 = #{nickname}
				UNION ALL
				SELECT MATCHDATE, MATCHNAME, MATCHINFO, BLUETEAMNAME, BLUEGAMER4, REDGAMER4, GAME_ID,  BLUERESULT,
                  		BLUEPICK4_KILL, BLUEPICK4_DEATH, BLUEPICK4_ASSIST,
                  		BLUEPICK4, I.BLUEPICK4_SPELL1, I.BLUEPICK4_SPELL2
				FROM 	INGAME I JOIN PLAYER P
				ON 		P.TEAM_ID = I.BLUETEAMNAME
				WHERE 	BLUEGAMER4 = #{nickname}
				UNION ALL
				SELECT	MATCHDATE, MATCHNAME, MATCHINFO, BLUETEAMNAME, REDGAMER4, BLUEGAMER4, GAME_ID,  REDRESULT,
                 		REDPICK4_KILL, REDPICK4_DEATH, REDPICK4_ASSIST,
                  		REDPICK4, I.REDPICK4_SPELL1, I.REDPICK4_SPELL2
				FROM 	INGAME I JOIN PLAYER P
				ON 		P.TEAM_ID = I.REDTEAMNAME
				WHERE 	REDGAMER4 = #{nickname}
				UNION ALL
				SELECT 	MATCHDATE, MATCHNAME, MATCHINFO, BLUETEAMNAME, BLUEGAMER5, REDGAMER5, GAME_ID,  BLUERESULT,
				        BLUEPICK5_KILL, BLUEPICK5_DEATH, BLUEPICK5_ASSIST,
				        BLUEPICK5, I.BLUEPICK5_SPELL1, I.BLUEPICK5_SPELL2
				FROM 	INGAME I JOIN PLAYER P
				ON 		P.TEAM_ID = I.BLUETEAMNAME
				WHERE 	BLUEGAMER5 = #{nickname}
				UNION ALL
				SELECT 	MATCHDATE, MATCHNAME, MATCHINFO, BLUETEAMNAME, REDGAMER5, BLUEGAMER5, GAME_ID,  REDRESULT,
				        REDPICK5_KILL, REDPICK5_DEATH, REDPICK5_ASSIST,
		                REDPICK5, I.REDPICK5_SPELL1, I.REDPICK5_SPELL2
				FROM	INGAME I JOIN PLAYER P
				ON		P.TEAM_ID = I.REDTEAMNAME
				WHERE	REDGAMER5 = #{nickname}
				)
			ORDER BY	GAME_ID DESC
			 
	</select>
	
	
 	<insert id="insertPlayer" parameterType="player">
 		INSERT INTO PLAYER(PLAYER_ID, 
 							NICKNAME, 
 							NAME, 
 							LINE, 
 							TEAM_ID)
		VALUES(PLAYER_SEQ.NEXTVAL, 
							#{nickname}, 
							#{name}, 
							#{line}, 
							#{teamId})
 	</insert>
 	
 	<update id="updatePlayer" parameterType="player">
 		UPDATE 	PLAYER
 		SET		NAME = #{name}, 
 				LINE = #{line}, 
 				TEAM_ID = #{teamId}
 		WHERE 	NICKNAME = #{nickname}
 	</update>
 	
 	<delete id="deletePlayer" parameterType="player">
 		DELETE	PLAYER
 		WHERE	NICKNAME = #{nickname}
 	</delete>
</mapper> 