<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="purchase">

	<select id="getCount" resultType="int">
		SELECT COUNT(*)
		FROM PURCHASE
		ORDER BY 1
	</select>

	<select id="getPurchaseList" resultType="purchase">
		SELECT PURCHASE_NUM,
		U_ID,
		GAME_ID,
		BETMONEY,
		BETDRATE,
		ACCURACY,
		BETDATE,
		CHOISE
		FROM PURCHASE
		<if test="uId!=null and uId!=''">
			WHERE U_ID = #{uId}
		</if>
	</select>

	<select id="getPurchaseListAd" parameterType="purchase"
		resultType="purchase">
		select b.* from ( select a.*, rownum rn from (
		SELECT * FROM
			(SELECT PURCHASE_NUM, U_ID, P.GAME_ID, BETMONEY, BETDRATE,
			      ACCURACY,
			      BETDATE,
			      CHOISE, REDTEAMNAME vsTeam, RETURNCHECK FROM PURCHASE P JOIN INGAME I
			ON P.GAME_ID = I.GAME_ID
			AND P.CHOISE = I.BLUETEAMNAME 
			UNION ALL
			SELECT PURCHASE_NUM, U_ID, P.GAME_ID, BETMONEY, BETDRATE,
			      ACCURACY,
			      BETDATE,
			      CHOISE, BLUETEAMNAME vsTeam, RETURNCHECK
			    FROM PURCHASE P JOIN INGAME I
			ON P.GAME_ID = I.GAME_ID
			AND P.CHOISE = I.REDTEAMNAME) 
			WHERE 1 = 1
		<if test="searchKeyword != null and searchKeyword != ''">
			<!-- AND ${searchCondition} like '%' || #{searchKeyword} || '%' -->
			AND ${searchCondition} like #{searchKeyword} 
		</if>
		ORDER BY 1
		) a ) b where rn between #{first} and #{last}
	</select>

	<!-- <insert id="insertPurchase" parameterType="purchase"> <selectKey keyProperty="purchaseNum" 
		resultType="integer" order="BEFORE"> SELECT nvl(MAX(PURCHASE_NUM),0)+1 FROM 
		PURCHASE </selectKey> INSERT INTO PURCHASE(PURCHASE_NUM, U_ID, GAME_ID, BETMONEY, 
		BETDRATE, CHOISE ) VALUES(#{purchaseNum}, #{uId}, #{gameId}, #{betMoney}, 
		#{betDrate}, #{choise} ) </insert> -->

	<insert id="insertPurchase" statementType="CALLABLE"
		parameterType="purchase">
		{ call PROC_BETMONEY(
		#{purchaseNum},
		#{uId},
		#{gameId},
		#{betMoney},
		#{betDrate},
		#{choise} )
	</insert>

	<insert id="setResult" parameterType="purchase"
		statementType="CALLABLE">
		{ call PROC_SETRESULT(
		#{gameId}
		)
	</insert>

	<insert id="setMoney" parameterType="purchase"
		statementType="CALLABLE">
		{ call PROC_PAYMENTS(
		#{gameId}
		)
	</insert>

	<select id="getPurchaseListChart" parameterType="purchase"
		resultType="purchase">
		select substr(betdate,7,2) as day, count(*) as cnt from purchase
		<if test="year!=null and year!='' and month!=null and month!=''">
		where substr(betdate,1,2) = #{year} AND substr(betdate,4,2) = #{month}
		</if>
		group by substr(betdate,7,2)
	</select>
	
	<select id="getPurchaseGameChart" resultType="purchase">
		SELECT GAME_ID,
			   COUNT(GAME_ID) AS gameCnt
		  FROM PURCHASE
		  GROUP BY GAME_ID
		  ORDER BY GAME_ID
	</select>
	
	<select id="getPurchaseGameMoney" resultType="purchase">
		select game_id,
			   sum(betmoney) as gameMoney, 
			   (select sum(betmoney*betdrate) from purchase a where returncheck = 'Y' AND a.GAME_ID = b.GAME_ID ) AS gameReturnMoney
		  from purchase b 
		  group by game_id 
		  order by game_id
	</select>
	
	<select id="getPurchaseTeam" resultType="purchase">
		select choise, 
			   count(choise) as teamCnt
		  from purchase
		  group by choise
	</select>
	
	

</mapper>