<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="purchase">

	<select id="getPurchaseList" resultType="purchase">
		SELECT PURCHASE_NUM,
		U_ID,
		GAME_ID,
		BETMONEY,
		BETDRATE,
		ACCURACY,
		BETDATE,
		CHOISE
		FROM PURCHASE
		<if test="uId!=null and uId!=''">
			WHERE U_ID = #{uId}
		</if>
	</select>

	<select id="getPurchase" parameterType="purchase"
		resultType="purchase">
		SELECT PURCHASE_NUM,
		U_ID,
		GAME_ID,
		BETMONEY,
		BETDRATE,
		ACCURACY,
		BETDATE,
		CHOISE
		FROM PURCHASE
	</select>

	<!-- <insert id="insertPurchase" parameterType="purchase">
		<selectKey keyProperty="purchaseNum" resultType="integer"
			order="BEFORE">
			SELECT nvl(MAX(PURCHASE_NUM),0)+1 FROM PURCHASE
		</selectKey>
		INSERT INTO PURCHASE(PURCHASE_NUM,
		U_ID,
		GAME_ID,
		BETMONEY,
		BETDRATE,
		CHOISE )
		VALUES(#{purchaseNum},
		#{uId},
		#{gameId},
		#{betMoney},
		#{betDrate},
		#{choise} )
	</insert> -->

	<insert id="insertPurchase" statementType="CALLABLE"
		parameterType="purchase">
		{ call PROC_BETMONEY(
		#{purchaseNum},
		#{uId},
		#{gameId},
		#{betMoney},
		#{betDrate},
		#{choise} )
		
	</insert>


</mapper>