<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team">

	<!-- 팀 전체 보기 -->
	<select id="getTeamList" parameterType="team" resultType="team">
		SELECT	RANK() OVER(ORDER BY WIN DESC, LOSE ASC) rank,
				TEAM_ID,
				DIRECTOR,
				HEAD_COACH,
				NAME,
				WIN,
				LOSE,
				RATE
		FROM 	TEAM
	</select>
	
	<select id="getTeam" parameterType="team" resultType="team">
		SELECT 	*
		FROM	(SELECT	RANK() OVER(ORDER BY WIN DESC, LOSE ASC) rank,	
						TEAM_ID,
						DIRECTOR,
						HEAD_COACH,
						NAME,
						WIN,
						LOSE,
						RATE
				FROM 	TEAM)
		WHERE	TEAM_ID = #{teamId}
	</select>
	
	<select id="getTeamJoin" parameterType="team" resultType="team">
		SELECT	T.TEAM_ID,
				T.DIRECTOR, 
				T.HEAD_COACH, 
				T.NAME, 
				T.WIN, 
				T.LOSE,
       			P.NICKNAME nickname, 
       			P.NAME playerName, 
       			P.LINE playerLine,
       			P.WIN+P.LOSE PLAYERMATCH,
       			P.WIN playerWin,
       			P.LOSE playerLose, 
       			P.KILL playerKill,
       			P.DEATH playerDeath,
       			P.ASSIST playerAssist,
       			FUNC_PLAYERKDA(P.NICKNAME) playerKda
		FROM	TEAM T
			JOIN 	PLAYER P
		ON 		T.TEAM_ID = P.TEAM_ID
		WHERE 	T.TEAM_ID = #{teamId}
	</select>
	
	<select id="vsTeam" parameterType="team" resultType="team">
		SELECT	REDTEAMNAME vsTeam,
				COUNT(BLUERESULT) playerMatch,
        		SUM(CASE WHEN BLUERESULT = 'win' THEN '1' ELSE '0' END) win,
        		COUNT(CASE WHEN BLUERESULT = 'lose' THEN '1' ELSE NULL END) lose
        FROM	(SELECT MATCHDATE,
        				MATCHNAME,
        				MATCHINFO,
        				PLAYTIME,
        				BLUETEAMNAME,
        				REDTEAMNAME,
        				BLUERESULT,
        				REDRESULT
  				FROM	INGAME
				WHERE	BLUETEAMNAME = #{teamId}
<!-- 				 AND 	REDTEAMNAME='KT' -->
 				UNION ALL
 				SELECT 	MATCHDATE, 
 						MATCHNAME, 
 						MATCHINFO, 
 						PLAYTIME, 
 						REDTEAMNAME, 
 						BLUETEAMNAME, 
 						REDRESULT, 
 						BLUERESULT
  				FROM 	INGAME
  				WHERE 	REDTEAMNAME = #{teamId})
<!--   				 AND 	BLUETEAMNAME = 'KT' -->
 				GROUP BY 	REDTEAMNAME
	</select>
	
	<insert id="insertTeam" parameterType="team">
		INSERT INTO TEAM(TEAM_ID, 
						DIRECTOR, 
						HEAD_COACH, 
						NAME)
  		VALUES			(#{teamId},
  						#{director},
  						#{headCoach},
  						#{name})
	</insert>
	
	<update id="updateTeam" parameterType="team">
		UPDATE	TEAM
		SET		TEAM_ID = #{teamId},
				DIRECTOR = #{director},
				HEAD_COACH = #{headCoach},
				NAME = #{name}
		WHERE	TEAM_ID = #{teamId}
	</update>
	
	<delete id="deleteTeam" parameterType="team">
		DELETE	TEAM
		WHERE	TEAM_ID = #{teamId}
	</delete>
</mapper>