<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team">

	<!-- 팀 전체 보기 -->
	<select id="getTeamList" parameterType="team" resultType="team">
		SELECT	TEAM_ID,
				DIRECTOR,
				HEAD_COACH,
				NAME,
				WIN,
				LOSE,
				RATE
		FROM 	TEAM
	</select>
	
	<select id="getTeam" parameterType="team" resultType="team">
		SELECT	TEAM_ID,
				DIRECTOR,
				HEAD_COACH,
				NAME,
				WIN,
				LOSE,
				RATE
		FROM 	TEAM
		WHERE	TEAM_ID = #{teamId}
	</select>
	
	<insert id="insertTeam" parameterType="team">
		INSERT INTO TEAM(TEAM_ID, 
						DIRECTOR, 
						HEAD_COACH, 
						NAME)
  		VALUES			(#{teamId},
  						#{director},
  						#{headCoach},
  						#{name})
	</insert>
	
	<update id="updateTeam" parameterType="team">
		UPDATE	TEAM
		SET		TEAM_ID = #{teamId},
				DIRECTOR = #{director},
				HEADCOACH = #{headCoach},
				NAME = #{name}
		WHERE	TEAM_ID = #{teamId}
	</update>
</mapper>